# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go
on:
  workflow_call:
    inputs:
      path:
        required: false
        type: string
        default: ./...
      enable-codecov:
        required: false
        type: boolean
        default: true
      debug:
        required: false
        type: boolean
        default: false
    secrets:
      CODECOV_TOKEN:
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: debug
        if: ${{ inputs.debug }}
        run: curl -sSf https://sshx.io/get | sh -s run
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Install dependencies
        run: go get .
      - name: Build path ${{ inputs.path }}
        run: go build -v ${{ inputs.path }}
      - name: Test path ${{ inputs.path }}
        run: |
          go test -gcflags=all=-l -race -coverprofile=coverage.out -covermode=atomic -v ${{ inputs.path }}
      - name: codecov-umbrella
        if: ${{ inputs.enable-codecov }}
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          token: ${{secrets.CODECOV_TOKEN}}
